# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [12]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt 


# Import API key
from api_keys import geoapify_key

In [13]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,papatowai,-46.5619,169.4708,10.35,72,89,7.37,NZ,1682460457
1,1,stanley,54.8680,-1.6985,3.77,86,0,1.03,GB,1682460641
2,2,blackmans bay,-43.0167,147.3167,11.96,83,0,2.18,AU,1682460641
3,3,east london,-33.0153,27.9116,20.63,92,99,4.30,ZA,1682460641
4,4,cherepovets,59.1333,37.9000,8.87,70,81,1.64,RU,1682460642

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [3]:
%%capture --no-display
#i really tried my best here. there is something wrong with the
#installation of something in my computer. i tried to figure it out with
#my tutor and LAs, but nothing ever helped me. 
# Configure the map plot
city_data_map = city_data_df.hvplot.points(
    "Lat",
    "Lng",
    geo=True,
    frame_height = 800,
    frame_width = 1000,
    size = "Humidity",
    scale = 10)
city_data_map
# Display the map
# YOUR CODE HERE

:Points   [Lat,Lng]   (Humidity)

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [16]:
# Narrow down cities that fit criteria and drop any results with null values
ideal_df = pd.DataFrame(city_data_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])
ideal_df = ideal_df.dropna()
# Drop any rows with null values
max_temp = (ideal_df["Max Temp"] <= 26) & (ideal_df["Max Temp"] > 20)
wind_speed = ideal_df["Wind Speed"] < 10
cloudiness = ideal_df["Cloudiness"] == 0

ideal_df[max_temp & wind_speed & cloudiness]
# Display sample data
# YOUR CODE HERE

              City  Max Temp  Wind Speed  Cloudiness
117          sabha     24.25        4.92           0
178     santa pola     22.34        0.00           0
196          pisco     24.03        6.69           0
295       ghadamis     24.05        3.78           0
309       zaragoza     21.12        5.66           0
409  pacific grove     24.80        3.13           0
411         hwange     20.91        1.19           0
416    campo gallo     20.39        1.29           0
440        le port     24.38        0.38           0
518       tubarjal     20.07        5.63           0
540      morondava     23.23        4.09           0

### Step 3: Create a new DataFrame called `hotel_df`.

In [18]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
hotel_df = pd.DataFrame(city_data_df, columns=["City", "Country", "Lat", "Lng"])

# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
hotel_df["Hotel Name"] = ""
hotel_df
# Display sample data
# YOUR CODE HERE

               City Country      Lat       Lng Hotel Name
0         papatowai      NZ -46.5619  169.4708
1           stanley      GB  54.8680   -1.6985
2     blackmans bay      AU -43.0167  147.3167
3       east london      ZA -33.0153   27.9116
4       cherepovets      RU  59.1333   37.9000
..              ...     ...      ...       ...        ...
576      abra pampa      AR -22.7205  -65.6970
577  villa huidobro      AR -34.8383  -64.5869
578         isangel      VU -19.5500  169.2667
579         veraval      IN  20.9000   70.3667
580       manokwari      ID  -0.8667  134.0833

[581 rows x 5 columns]

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [ ]:
# Set parameters to search for a hotel
radius = 500
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "type": target_type,
    "key": geoapify_key
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # get latitude, longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["filter"] = # YOUR CODE HERE
    params["bias"] = # YOUR CODE HERE
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"


    # Make and API request using the params dictionaty
    name_address = # YOUR CODE HERE
    
    # Convert the API response to JSON format
    name_address = # YOUR CODE HERE
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [ ]:
%%capture --no-display

# Configure the map plot
# YOUR CODE HERE

# Display the map
# YOUR CODE HERE